section.saturday{
    background-color: #93A9D1;
    padding-bottom: 50px;
}

h1.sath1{
    font-family: 'Bebas Neue';
    font-weight: bold;
    padding: 50px;
    font-size: 60px;
}

#satdesc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.satclasspic{
    text-align: center;
}

.satclasspic1{
    padding-top: 50px;
    text-align: center;
}